.mailLink {
  display: inline-block!important;
  color: #0079dd!important;
  padding-left: 0!important;
  padding-top: 4px!important;
}
.weiqing-jobs {
  &-wraper {
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    padding-top: 118px;
    padding-bottom: 126px;
    margin-bottom: 30px;
    h1 {
      font-weight: lighter;
      font-size: 48px;
    }
    p{
      font-size: 16px;
      margin-top: 34px;
      margin-bottom: 90px;
    }
  }
  &-list {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #dcdcdc;

  }
  &-title {
    padding-left: 46px;
    padding-right: 46px;
    border-bottom: 1px solid #dcdcdc;
    background-image: -moz-linear-gradient( -90deg, rgb(250,250,250) 0%, rgb(237,237,237) 99%);
    background-image: -webkit-linear-gradient( -90deg, rgb(250,250,250) 0%, rgb(237,237,237) 99%);
    background-image: -ms-linear-gradient( -90deg, rgb(250,250,250) 0%, rgb(237,237,237) 99%);
    box-shadow: 0px 0px 2px 0px #dcdcdc;
    h4 {
      margin-top: 14px;
    }
    .drop-btn {
      padding: 6px 12px;
      margin-top: 5px;
    }
  }
  &-detail {
    ul {
      margin-bottom: 0;
      padding-left: 46px;
      background: #f2f2f2;
      li {
        list-style: none;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #f2f2f2;
        color: #8f8f8f;
        font-weight: bold;
        border-right: 1px solid #dadada;
        text-align: center;
        width: 20%;
        &:nth-child(1) {
          width: 40%;
          text-align: left;
        }
        &:nth-child(4) {
          border: none;
        }
      }
    }
  }
  &-panel {
    ul {
      background: #f2f2f2;
    }
    li {
      border-right: none !important;
      border-bottom: 1px solid #eaeaea !important;
    }
  }
}
