.navbar {
  &-weiqing {
    background: @nav-bg;
    border-radius: 0;
    margin-bottom: 0;
    ul {
      padding-top: 10px;
      a {
        color: @nav-color;
        padding-left: 32px;
        padding-right: 32px;
        &:hover {
          color:#f0f0f1;
          background-color: inherit;
        }
      }
    }
  }
  &-brand {
    height: auto;
    img {
      width: 140px;
    }
  }
  .navbar-toggle {
    margin-top: 15px;
    .icon-bar {
      background-color: #fff;
    }
  }
}