.weiqing-observe{
  &-des {
    margin-bottom: 50px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    background: #fff;
    text-align: center;
    padding:54px 0px 90px;
    @media (max-width: 767px) {
      margin-left: 20px;
      margin-right: 20px;
    }
    h1 {
      font-weight: 300;
      padding-left: 20px;
      padding-right: 20px;
    }
    p {
      color: #999999;
      padding-left: 20px;
      padding-right: 20px;
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-list {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    background: #fff;
    margin-bottom: 48px;
    @media (max-width: 767px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  &-listtitle {
    background: #f4f4f4;
    padding: 10px 30px;
    border-bottom: 1px solid #dcdcdc;
  }
  &-content {
    ul {
      @media (max-width: 767px) {
        padding-left:  20px;
        padding-right: 20px;
      }
      padding-left: 0;
      padding-left: 70px;
      padding-right: 70px;
    }
    li {
      list-style-type: none;
      border-bottom: 1px solid #eff0f0;
      padding-top: 52px;
      padding-bottom: 38px;
      h3 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 0;
      }
      p {
        margin-top: 28px;
        clear: both;
        color: #666;
        line-height: 28px;
        span {
          display: inline-block;
          margin-left: 8px;
          color: #5377ff;
        }
      }
    }
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.weiqing-pagination-wraper {
  text-align: center;
  span {
    margin-left: 18px;
    display: inline-block;
    vertical-align: middle;
  }
}