.service {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 6px 6px 0px #d9d9d9;
  margin-bottom: 20px;
  h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 40px;
  }
  hr {
    height: 1px;
    border: none;
    border-top: 5px;
    background: linear-gradient(to right,white, gray, white);
    margin: 0;
    opacity: 0.5;
    max-width: 950px;
    margin: 0 auto;
  }
  p {
    font-size: 14px;
    line-height: 2.1;
    text-align: center;
    margin: 0;
  }
  &-logo {
    vertical-align: middle;
    text-align: center;
    padding-bottom: 50px;
  }
  &-description {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 0 50px;
  }
  &-what {
    text-align: center;
    padding: 100px 50px;
  }
  &-how {
    padding: 100px 50px;
  }
  &-advantage {
    padding: 100px 50px;
    &-description {
      max-width: 750px;
      margin: 0 auto;
    }
    &-icon {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
      padding: 30px 10px;
      height: 226px;
      transition: all 1s;
      &:hover {
        box-shadow: 0 0 25px #dcdcdc inset;
        .short-line {
          height: 0;
          margin-top: 0;
          margin-bottom: 0;
          opacity: 0;
        }
        .service-advantage-title {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .service-advantage-des {
          height: 58px;
          opacity: 1;
        }
      }
      img {
        height: 70px;
      }
    }
    &-des {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 1s;
    }
  }
  &-fees {
    padding: 100px 50px;
  }
  &-icon {
    display: inline-block;
    text-align: center;
    padding: 0 40px;
  }
  &-way {
    text-align: center;
  }
}
.scale-img {
  transition: all 1s;
  &:hover {
    transform: scale(1.2);
  }
}
