---
layout: default
---
<div class="container">
  <ul class="nav nav-pills service-nav">
    <li class="item"><a href="#" class="item-link active-block">推广案例</a></li>
    <li class="item"><a href="#" class="item-link">微信案例</a></li>
    <li class="item"><a href="#" class="item-link">网站案例</a></li>
    <li class="item"><a href="#" class="item-link">品牌推广案例</a></li>
    <li class="item">
      <a href="#" class="item-link active-block"><img width='20' src="/img/qq-o.svg">在线交谈</a>
    </li>
  </ul>
  <div class="weiqing-casepage-wraper clearfix">
    {% include case-card.html index="0" caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
  </div>
  <div class="weiqing-casepage-detail clearfix">
    <div class="weiqing-casepage-detailleft col-sm-3">
      <img class="wow fadeIn" src="img/案例展示-中国婚博会.png" alt="">
    </div>
    <div class="weiqing-casepage-detailright col-sm-9 wow fadeInUp">
      <h3>中国婚博会</h3>
      <p>“和为卿网络已经合作两年，网络推广效果每年都能带给我惊喜，从最初的几百个注册到现在一月几千个注册，效果越来越好！在这里要感谢为卿网络公司售后服务专业诚信的服务！”</p>
    </div>
  </div>
  <div class="weiqing-casepage-wraper clearfix">
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
  </div>
  <div class="weiqing-casepage-wraper clearfix">
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
  </div>
  <div class="weiqing-casepage-wraper clearfix">
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
    {% include case-card.html index='0' caseClass="推广案例" caseimg="img/案例展示-推广案例-中国婚博会.png" casename="中国婚博会" casedes="商务部全国百家重点支持品牌展会" casetype="品牌营销  效果营销" %}
  </div>
</div>
