global-reset()
mobile-center()
  @media(max-width: 768px)
    justify-content: center
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

button
input[type="reset"]
input[type="button"]
input[type="submit"]
  &::-moz-focus-inner
    padding: 0
    margin: 0
    border: 0

input, button, select
  margin: 0
  padding: 0
  border: 0

html, body
  @media screen
    height: 100%
    // overflow: hidden

body
  background: #FFFFFF
  font-size: font-size
  font-family: font-sans
  color: color-default
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow-x: hidden

.wrapper
  clearfix()
  @media screen
    max-width: max-width
    margin: 0 auto

.inner
  clearfix()
  @media screen
    padding: 0 gutter-width

#content-wrap
  background: #fff
  border-top: 1px solid darken(color-navy, 5%)
  border-bottom: 1px solid darken(color-navy, 5%)
  margin: -1px 0
  
.video-container
  text-align: center

.btn 
  padding: 18px 0;
  text-align: center;
  width: 182px;
  font-size: 20px
  @media(max-width: 768px)
    font-size: 15px
    padding: 9px
    width: auto
.btn-blue
  color: #ffffff
  background-color: #0045FF
.btn-orange
  color: #FFF
  background-color: #FF9000

.support
  background: #FFF
  padding-top: 100px;
  padding-bottom: 147px;
  @media(max-width: 768px)
    padding-top: 50px;
    padding-bottom: 73px;
  .supportContent
    text-align: center
    img
      max-width: 180px
      height 85px
.title-wraper
  width: 280px
  height 118px
  text-align: center;
  margin: 0 auto
  font-size: 36px
  color: #FFFFFF
  background-image: url('/assets/images/btn_bg_blue.png')
  background-size: cover
  background-repeat: no-repeat
  @media(max-width: 768px)
    width: 140px
    height 59px
    font-size: 18px
    .text
      padding-top: 11px !important
  .text
    padding-top: 22px

&.white-title
    background-image: url('/assets/images/btn_bg_white.png')
    .text
      color: #0C104C
.description
  padding-top: 160px
  padding-bottom: 143px
  @media(max-width: 768px)
    padding-top: 80px
    padding-bottom: 71px
  .content
    font-size: 22px
    max-width: 1000px
    margin: 0 auto
    margin-top: 47px
    line-height: 32px
    @media(max-width: 768px)
      font-size: 16px
      padding: 0 15px
    p
      text-indent: 2em
      margin-bottom 22px
  .btn
    display: block
    margin: 0 auto
.producer
  padding-top: 115px
  padding-bottom: 143px
  background-color: #F2F2F2
  @media(max-width: 768px)
    padding-top: 57px
    padding-bottom: 71px
  &-content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 52px
    mobile-center()
  &-wraper
    text-align: center
    min-width: 250px
    margin-top: 16px
    img
      width: 150px
      height 150px
    .name
      font-size: 20px
      color: #333333
      margin-top: 18px
      margin-bottom: 9px
    .des
      color: #333333
      font-size: 14px
.speaker
  padding-top: 102px
  padding-bottom: 73px
  text-align: center;
  .speakerList
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    mobile-center()
    .speakerWraper
      width: 242px
      height: 326px
      margin: 0 20px
      color: #333
      background-color: rgb(240, 240, 240)
      display: flex
      align-items center
      flex-direction column
      justify-content: center
      margin-bottom 30px
      &:hover
        background-color: #0A0C48
        color: #fff
        &>img
          display: none
        &>.name
          margin-bottom: 50px
        &> .title
          display: none
        &>.introduction
          display: block
      img
        width: 150px
      .name
        font-size 26px
        margin-top 24px
        margin-bottom 11px
      .title
        font-size 14px
      .introduction
        display: none
        padding: 0 18px
        line-height: 26px
  @media(max-width: 768px)
    padding-top: 51px
    padding-bottom: 36px
  .join-text
    color: #0C104C
    font-size: 26px
    margin-top: 73px
    margin-bottom: 44px
    @media(max-width: 768px)
      font-size: 16px
.schedule
  background: #0A0C48
  padding-top: 138px
  padding-bottom: 114px
  text-align: center
  @media(max-width: 768px)
    padding-top: 80px
    padding-bottom: 57px
  .scheduleItem
    color: #FFF
    font-size: 14px
    margin-bottom 60px
    .place
      font-size: 32px
      font-weight: 400
    .scheduleTopic
      font-size: 20px
      margin-top 16px
      margin-bottom 16px
    .scheduleHost
      margin-top: 14px
      margin-bottom 55px
      @media(max-width: 768px)
        margin-top: 8px
        margin-bottom 27px
    .topicItemWraper
      display: flex
      justify-content: space-between
      align-items: center
      margin: 0 auto
      padding-bottom: 12px
      text-align: left
      max-width: 700px
      margin: 0 auto
      @media(max-width: 768px)
        width: 100%
        flex-direction: column
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 12px;
        width: 90%;
        margin-bottom 20px
      .itemTime
        font-size: 14px
      .itemTitle
        font-size: 22px
        min-width: 480px
        text-align: center
        @media(max-width: 768px)
          margin-top: 14px
          margin-bottom 14px
          min-width: auto
          font-size: 18px
      .itemName
        font-size: 14px
        color: #999
      
.ticket
  padding-top: 59px
  padding-bottom: 76px
  text-align: center
.ticketList
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin-top: 86px
  margin-bottom: 90px
  @media(max-width: 768px)
    justify-content: center
.tickerWraper
  color #FFF
  font-size 14px
  width 271px
  min-height 356px
  background-image url('/assets/images/piaojia_bg.png')
  background-repeat: no-repeat
  background-size 100%
  padding: 0 38px
  position relative
  .type
    text-align: left
    position absolute
    top: 26px
    left: 60px
  .price
    font-size 60px
    border-bottom: 1px solid #FFF
    padding-top: 68px
    padding-bottom: 30px
    span
      font-size: 18px
  .ticketNote
    text-align left
    ul
      line-height: 22px
      margin-top 16px
      list-style circle
      padding-left 16px
.topicWraper
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  mobile-center()
  .topicContent
    background-color: #ffffff
    border-radius: 6px
    min-width 300px
    max-width: 300px
    // height: 400px
    padding: 28px 28px 43px;
    margin-right 20px
    margin-bottom 20px
    .top
      font-size: 26px
      font-weight: 400
      text-align: left
      word-break: break-all
      line-height: 30px
      min-height 90px
    .middle
      display: flex
      align-items: center
      margin-top: 14px
      margin-bottom 20px
      img
        width: 44px
      .info
        text-align: left
        margin-left 11px
        font-size: 14px
        color: #999999
        line-height: 20px
    .bottom
      color: #666666
      font-size: 14px
      line-height: 20px
      text-align: left
.volunteer
  background: #0A0C48
  padding-top: 89px
  padding-bottom: 61px
.location
  background: #F2F2F2
  padding-top: 80px
  padding-bottom: 144px
.locationWraper
  margin-top 70px
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  @media(max-width: 768px)
    justify-content: center
    .left, .right
      width: 100% !important
    .left
      padding-right: 0 !important
      min-width: auto !important
  .left, .right
    font-size: 14px
    width: 50%
  .left
    padding-right: 76px
    color: #333
    min-width: 476px
    .title
      color: #0C104C
      font-size: 26px
      margin-bottom: 24px
    .content
      line-height: 26px
      margin-bottom: 30px
  .right
    position relative
    height 300px
    overflow hidden
    iframe
      position absolute
      top: 0
      left: 0
      width: 100%
      height 100%
.comming
  margin-top: 20px
  margin-bottom: 20px
  font-size: 28px
  text-align: center
  @media(max-width: 768px)
    font-size: 16px
