#footer
  text-align: left
  background-color: #000
  padding-top: 50px
  padding-bottom: 35px
  .title
    font-size: 16px
    color: #ffffff
    margin-bottom 20px
    a
      color: #fff
  .top
    margin-bottom 26px
    @media(max-width: 768px)
      text-align: center;
  .middle
    display flex
    flex-wrap: wrap
    mobile-center()
    &Left
      margin-right 135px
      .content
        color: #fff
        line-height: 26px
        margin-bottom 20px
    &Right
      display: flex
      flex-wrap: wrap
      mobile-center()
      .wechatqr
        margin-right 22px
      img
        width: 147px
  .bottom
    margin-top 98px
    text-align: center
    color: #fff