layout: index
title: index
fe_producer:
  -
    avatar: /assets/images/wanglihua.png
    name: vczero 王利华（鬼谣）
    description: 阿里达摩院人机自然交互实验室 技术专家
  -
    avatar: /assets/images/hax.png
    name: 贺师俊（ Hax）
    description: 百姓网技术顾问
  -
    avatar: /assets/images/mizong.png
    name: 邓钢（米粽）
    description: 饿了么  前端架构师
fe_speaker:
  -
    avatar: /assets/images/siyue.png
    name: 死月
    title: 蚂蚁金服 Node.js 工程师
    introduction: Node.js Core Collaborator 之一《Node.js：来一打 C++ 扩展》作者。
  -
    avatar: /assets/images/fumeng.png
    name: 付萌
    title: 阿里高级前端开发工程师
    introduction: 阿里巴巴内部前端监控平台Retcode技术负责人，阿里云ARMS前端监控平台核心开发者，专注于前端监控数据采集SDK、日志离线分析等领域。
  -
    avatar: /assets/images/liubowen.png
    name: 刘博文
    title: 360导航事业部资深前端工程师
    introduction: 95后，2015年加入360奇舞团，现任360导航事业部资深前端工程师，W3C性能工作组成员，《深入浅出Vue.js》作者。
  -
    avatar: /assets/images/wumingjun.png
    name: 吴明骏
    title: 饿了么大前端高级前端工程师
    introduction: 知乎前端开发话题下活跃回答者。致力于编写技术文章，分享前端技术理念，帮助社区新人共同成长。
  -
    avatar: /assets/images/avatar.png
    name: 李正韬
    title: 阿里巴巴高级前端工程师
    introduction: 阿里巴巴高级前端工程师，Alibaba Fusion Design核心开发者。专注企业中后台组件库、前端工程化与效率等领域。
  -
    avatar: /assets/images/zhukun.png
    name: 朱昆
    title: 饿了么前端工程师
    introduction: 开源项目 Day.js 作者 Element 维护者
  -
    avatar: /assets/images/zhanghao.png
    name: 张浩
    title: 网易资深前端开发工程师
    introduction: 13年毕业于重庆大学，15年加入网易。负责过网易企业邮箱，网易有钱，网易严选等项目开发，目前主要负责严选的ToB前端规范建设，前端应用框架建设。主要研究方向为前端工程化、组件化、可视化、应用层架构等。
  -
    avatar: /assets/images/dongtiancheng.png
    name: 董天成
    title: 百度 - 高级前端工程师
    introduction: 百度FEX小组成员，主要负责百度原生商业广告系统的业务架构升级和实现标准的建立。关注Web框架，研发效率，开发体验。
  -
    avatar: /assets/images/zhaoyang.png
    name: 赵洋 
    title: 前百度、腾讯前端开发工程师
    introduction: 前百度、腾讯前端开发工程师，全民直播前端经理，现参与某创业学习中。
fe_ticket:
  -
    type: 学生票
    price: 198
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 无发票
      - 售票截止日期：2019.04.10
  -
    type: 个人票
    price: 298
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 无发票
  -
    type: 企业票
    price: 398
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 有发票
  -
    type: VIP 票
    price: 1298
    access:
      - 大会参会票；前排VIP专座
      - 大会纪念品；前端人专属T恤
      - 大会文字及视频资料
      - 前端人“酒会”
      - 有发票
---

