layout: index
title: index
fe_producer:
  -
    avatar: /assets/images/wanglihua.png
    name: vczero 王利华（鬼谣）
    description: 阿里达摩院人机自然交互实验室 技术专家
  -
    avatar: /assets/images/hax.png
    name: 贺师俊（ Hax）
    description: 百姓网技术顾问
  -
    avatar: /assets/images/mizong.png
    name: 邓钢（米粽）
    description: 饿了么  前端架构师
fe_ticket:
  -
    type: 学生票
    price: 198
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 无发票
      - 售票截止日期：2019.04.10
  -
    type: 个人票
    price: 298
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 无发票
  -
    type: 企业票
    price: 398
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 有发票
  -
    type: VIP 票
    price: 1298
    access:
      - 大会参会票；前排VIP专座
      - 大会纪念品；前端人专属T恤
      - 大会文字及视频资料
      - 前端人“酒会”
      - 有发票
---

