layout: index
title: index
fe_producer:
  -
    avatar: /assets/images/wanglihua.png
    name: vczero 王利华（鬼谣）
    description: 阿里达摩院人机自然交互实验室 技术专家
  -
    avatar: /assets/images/hax.png
    name: 贺师俊（ Hax）
    description: 百姓网技术顾问
  -
    avatar: /assets/images/mizong.png
    name: 邓钢（米粽）
    description: 饿了么  前端架构师
fe_speaker:
  -
    avatar: /assets/images/zhangxinxu.png
    name: 张鑫旭
    title: 阅文集团 - 前端重构
    introduction: 阅文集团前端开发，从业10年，一直专注于与用户体验比较密切的前端领域。国内知名前端博客“鑫空间-鑫生活”博主，畅销书《CSS世界》作者。
  -
    avatar: /assets/images/zhanglei.png
    name: 张磊(dntzhang) 
    title: 腾讯 - Omi 框架负责人
    introduction: 网名当耐特，众多开源框架作者，AlloyTeam 开源负责人之一，从接触前端到现在刚好十年，经历了刀耕火种到现代化科技再到多端+云的历史 变迁。
  -
    avatar: /assets/images/siyue.png
    name: 死月
    title: 蚂蚁金服 Node.js 工程师
    introduction: Node.js Core Collaborator 之一《Node.js：来一打 C++ 扩展》作者。
  -
    avatar: /assets/images/fumeng.png
    name: 付萌
    title: 阿里高级前端开发工程师
    introduction: 阿里巴巴内部前端监控平台Retcode技术负责人，阿里云ARMS前端监控平台核心开发者，专注于前端监控数据采集SDK、日志离线分析等领域。
  -
    avatar: /assets/images/liubowen.png
    name: 刘博文
    title: 360导航事业部资深前端工程师
    introduction: 95后，2015年加入360奇舞团，现任360导航事业部资深前端工程师，W3C性能工作组成员，《深入浅出Vue.js》作者。
  -
    avatar: /assets/images/wumingjun.png
    name: 吴明骏
    title: 饿了么大前端高级前端工程师
    introduction: 知乎前端开发话题下活跃回答者。致力于编写技术文章，分享前端技术理念，帮助社区新人共同成长。
  -
    avatar: /assets/images/lizhengtao.png
    name: 李正韬
    title: 阿里巴巴高级前端工程师
    introduction: 阿里巴巴高级前端工程师，Alibaba Fusion Design核心开发者。专注企业中后台组件库、前端工程化与效率等领域。
  -
    avatar: /assets/images/zhukun.png
    name: 朱昆
    title: 饿了么前端工程师
    introduction: 开源项目 Day.js 作者 Element 维护者
  -
    avatar: /assets/images/zhanghao.png
    name: 张浩
    title: 网易资深前端开发工程师
    introduction: 13年毕业于重庆大学，15年加入网易。负责过网易企业邮箱，网易有钱，网易严选等项目开发，目前主要负责严选的ToB前端规范建设，前端应用框架建设。主要研究方向为前端工程化、组件化、可视化、应用层架构等。
  -
    avatar: /assets/images/dongtiancheng.png
    name: 董天成
    title: 百度 - 高级前端工程师
    introduction: 百度FEX小组成员，主要负责百度原生商业广告系统的业务架构升级和实现标准的建立。关注Web框架，研发效率，开发体验。
  -
    avatar: /assets/images/zhaoyang.png
    name: 赵洋 
    title: 前百度、腾讯前端开发工程师
    introduction: 前百度、腾讯前端开发工程师，全民直播前端经理，现参与某创业学习中。
  -
    avatar: /assets/images/liyaodong.png
    name: 李耀东
    title: ThoughtWorks 高级前端工程师
    introduction: 从 Flash 到 ASP，从 PHP 到 Ruby on Rails，最终一发不可收拾地驻足于前端的大千世界。喜欢折腾，不仅仅是开源和代码，热衷一切有趣的东西，梦想有天能用一颗心，一双手，做自己想做的一切东西。
  -
    avatar: /assets/images/yinguohui.png
    name: 银国徽
    title: 字节跳动视频架构前端负责人
    introduction: 现负责视频架构前端团队。2016年加入字节跳动，一直负责广告投放、视频相关内容。先后主导了自研西瓜音频播放器及周边系统架构设计、核心开发和开源工作，在Web音视频领域积累了一定的经验，申请算法专利几十项。
  -
    avatar: /assets/images/jiafeifei.png
    name: 贾扉扉（花名元贽）
    title: 阿里巴巴前端技术专家
    introduction: 曾就职于迅雷、沪江，并有两年多手游创业经历。现为阿里云成熟行业产品研发前端负责人，带领团队支持海内外多个城市大脑的智能应用及引擎开发，在工程化，国际化方面有较多经验。近期主要关注 Serverless 在大规模商业应用上的开发模式探索。
  -
    avatar: /assets/images/houce.png
    name: 侯策（LucasHC）
    title: 《React 状态管理与同构实战》作者
    introduction: 知乎「前端开发」、「React 开发」话题优秀回答者。曾就职于百度知识搜索部、法国能源和苏伊士集团、硅谷 BePATIENT 集团，负责前端开发。
  -
    avatar: /assets/images/longyinan.png
    name: 龙逸楠
    title: LeetCode 中国 架构师
    introduction: 曾任Teambition前端架构师，ARKIENodeJS 架构师
  -
    avatar: /assets/images/lizixiang.png
    name: 李子翔
    title: 携程度假研发部前端架构组-高级前端工程师
    introduction: 携程度假研发部高级前端工程师，曾负责度假订单，事件系统等多个后台管理项目，使用 react-imvc + ant-design + GraphQL 构建了完整的前端开发环境。现为前端架构组成员，近期关注基于 node.js + puppeteer 的前端自动化测试框架的设计和研发。
  -
    avatar: /assets/images/yangyiliang.png
    name: 杨益良 
    title: 滴滴 高级前端工程师
    introduction: 16年加入滴滴出行，目前在共享出行类业务线下的运营与前端研发组，滴滴跨端解决方案chameleon的核心开发者。
  -
    avatar: /assets/images/tianhao.png
    name: 田浩（灵杭）
    title: 蚂蚁金服高级前端工程师
    introduction: 支付宝内部前端质量平台魔数项目技术负责人、阿里集团内部自动化测试工具totorojsclient项目成员。先后就职于Cisco、SAP、Microstragy等知名外企，亦曾加盟某创业团队出任技术总监，在企业级应用开发上积累了丰富的经验。加入支付宝后，专注于前端工程与质量保障体系建设、企业级前端研发效能探索。
  -
    avatar: /assets/images/caoyuhao.png
    name: 曹昱豪
    title: ThoughtWorks高级前端工程师
    introduction: ThoughtWorks高级前端工程师 ThoughtWorks Global Javascript Monthly主编 个人网站  http://d3js.club/  曾在多个企业级软件中担任前端Tech lead
  -
    avatar: /assets/images/sunyangjie.png
    name: 孙杨杰 
    title: 喜马拉雅前端架构师
    introduction: 从事Web开发工作5年，在前后端领域都有实际开发经验，目前工作重心在大前端，围绕喜马拉雅现有前端技术栈打造面向复杂多端环境的前端技术体系
  -
    avatar: /assets/images/wangzhicheng.png
    name: 汪志成
    title: ThoughtWorks 高级工程师 Google Developer Expert
    introduction: 二十年码农，全栈工程师，儒生，965-WLB，Angular 中文文档译者。
fe_agender:
  -
    placeName: 会场 A
    placeTopic: 前端标准专场
    time: 9:00 ~ 12:00
    host: 主持人：李白
    topicList:
      -
        time: 09:00 ～ 09:45
        topicTitle: 使用PWA+AMP构建超快WebApp
        topicName: 李耀东
      -
        time: 09:45 ～ 10:30
        topicTitle: 滤镜与混合模式
        topicName: 张鑫旭
      -
        time: 10:30 ～ 11:15
        topicTitle: 前端多媒体技术的探究
        topicName: 银国徽
      -
        time: 11:15 ～ 12:00
        topicTitle: 待定
        topicName:  贺师俊
  -
    placeName: 会场 B
    placeTopic: React 专场
    time: 9:00 ~ 12:00
    host: 主持人：李白
    topicList:
      -
        time: 09:00 ～ 09:45
        topicTitle: React-Hooks：从设计理念到实战经验
        topicName: 李子翔
      -
        time: 09:45 ～ 10:30
        topicTitle: React：The bad parts
        topicName: 侯策（@LucasH）
      -
        time: 10:30 ～ 11:15
        topicTitle: React 状态管理最佳实践探索
        topicName: 贾扉扉
      -
        time: 11:15 ～ 12:00
        topicTitle: RxJS 在 React 中的应用
        topicName:  龙逸楠
  -
    placeName: 会场 A
    placeTopic: 小程序&移动端专场
    time: 13:00 ~ 17:00
    host: 主持人：李白
    topicList:
      -
        time: 13:00 ～ 13:45
        topicTitle: Omi - PushJSX and WebComponents to the limit
        topicName: 张磊(dntzhang)
      -
        time: 13:45 ～ 14:30
        topicTitle: chameleon跨端实践经验分享
        topicName: 杨益良
      -
        time: 14:45 ～ 15:30
        topicTitle: ARMS 小程序监控进阶之路
        topicName: 付萌(慕扉)
      -
        time: 15:30 ～ 16:15
        topicTitle: 企业级H5质量工程体系探索
        topicName:  田浩（灵杭）
      -
        time: 16:15 ～ 17:00
        topicTitle: 使用serverless云服务快速开发小程序
        topicName:  曹昱豪
  -
    placeName: 会场 B
    placeTopic: 全栈&全端专场
    time: 13:00 ~ 17:00
    host: 主持人：李白
    topicList:
      -
        time: 13:00 ～ 13:45
        topicTitle: 聊聊Node.js构建部署时我们要关心的数据
        topicName: 死月
      -
        time: 13:45 ～ 14:30
        topicTitle: 让你的网页更丝滑
        topicName: 刘博文
      -
        time: 14:45 ～ 15:30
        topicTitle: 面向接口编程在前端的探索
        topicName: 吴明骏
      -
        time: 15:30 ～ 16:15
        topicTitle: 前端核心代码保护技术概览
        topicName:  赵洋
      -
        time: 16:15 ～ 17:00
        topicTitle: 服务端渲染框架在喜马拉雅的演变
        topicName:  孙扬杰
  -
    placeName: 会场 C
    placeTopic: 中后台&toB专场
    time: 13:00 ~ 17:00
    host: 主持人：李白
    topicList:
      -
        time: 13:00 ～ 13:45
        topicTitle: 模型驱动开发
        topicName: 汪志成
      -
        time: 13:45 ～ 14:30
        topicTitle: 前端能力中台化之路
        topicName: 李正韬
      -
        time: 14:45 ～ 15:30
        topicTitle: 业务实现标准化在中台领域的探索
        topicName: 董天成
      -
        time: 15:30 ～ 16:15
        topicTitle: Element高效中后台开发
        topicName:  朱昆
      -
        time: 16:15 ～ 17:00
        topicTitle: 建设企业级的前端应用体系
        topicName:  张浩
fe_topic:
  -
    topicTitle: 滤镜与混合模式
    avatar: /assets/images/zhangxinxu.png
    name: 张鑫旭
    title: 阅文集团 - 前端重构
    topicContent: 滤镜与混合模式是目前可以在实际项目中应用的CSS新的特性，其给web开发带来的变革不仅仅是视觉表现的提升，对于web功能的开发也有极大的帮助。   
  -
    topicTitle: Omi - Push JSX and Web Components to the limit
    avatar: /assets/images/zhanglei.png
    name: 张磊(dntzhang) 
    title: 腾讯 - Omi 框架负责人
    topicContent: 目前 Omi 生态非常丰富，其口号是 One framework. Mobile & Desktop & Mini Program & Cloud。那么整体生态底层的核心基础 JSX 和 Web  Components 的扮演了什么角色，它对 Omi 的整体架构设计有什么意义？ 它对桌面开发、移动 Web 开发和小程序云开发有什么影响？它对图形 图像渲染和开发有什么作用？拭目以待。
  -
    topicTitle: 聊聊 Node.js 构建部署时我们要关心的数据
    avatar: /assets/images/siyue.png
    name: 死月
    title: 蚂蚁金服 Node.js 工程师
    topicContent: 在 DevOps 的时代，构建和部署都已经自动化了。我们可以在构建时和部署时收集一些我们可能要关心的数据，用于以后排错、预警等等。本 Topic 为我在蚂蚁金服做这些数据的收集和实践的一些总结。
  -
    topicTitle: ARMS小程序监控进阶之路
    avatar: /assets/images/fumeng.png
    name: 付萌(慕扉)
    title: 阿里高级前端开发工程师
    topicContent: 1.了解小程序监控现状及面临的问题。2.了解小程序监控的相关数据采集原理及如何快速定位小程序问题：如何覆盖不同的小程序监控、如何端到端的监控定位问题以及小程序相对于Web页面不同的一些采集原理问题 3.了解小程序监控系统的架构，对前端日志采集SDK设计、分布式实时流计算架构、监控告警等领域有更深刻的认识
  -
    topicTitle: 让你的网页更丝滑
    avatar: /assets/images/liubowen.png
    name: 刘博文
    title: 360导航事业部资深前端工程师
    topicContent: 在大流量C端Web产品中，性能至关重要，网页的丝滑程度与收入和流量息息相关；用户来访问我们的网站，他们希望我们提供流畅的网页，当网页变得不那么丝滑时，用户会感到懊恼与烦躁，然后他们可能会关闭我们的网站，从而导致我们的收入与流量下滑，我们来聊聊如何解决这个问题。
  -
    topicTitle: 面向接口编程在前端的探索
    avatar: /assets/images/wumingjun.png
    name: 吴明骏
    title: 饿了么大前端高级前端工程师
    topicContent: 产品又改了需求？后端给了错误的数据结构？接手了同事的祖传代码？一遍又一遍写重复的模板代码？那个前端终于不堪忍受，偷学了后端编程理念。且看如何运用面向接口编程，挑战前端场景中遇到的痛点。
  -
    topicTitle: 前端能力中台化之路
    avatar: /assets/images/lizhengtao.png
    name: 李正韬
    title: 阿里巴巴高级前端工程师
    topicContent: 1.行业新姿态 2.阿里内部前端工程是如何中台化为前端设计师、后端工程师、设计师提效。
  -
    topicTitle: chameleon跨端实践经验分享。
    avatar: /assets/images/yangyiliang.png
    name: 杨益良 
    title: 滴滴 高级前端工程师
    topicContent: 无论各类小程序、weex、react-native，甚至flutter也只是变的是语言和编译模式，不变的是开发架构模式，CML是以更基础更先进更面向未来mvvm+为指导，手段是运行时和编译时，甚至不限制于DSL。
  -
    topicTitle: 使用serverless云服务快速开发小程序
    avatar: /assets/images/caoyuhao.png
    name: 曹昱豪
    title: ThoughtWorks 高级前端工程师
    topicContent: 随着微信小程序的普及，开发小程序已经成为了前端的必备技能，serverless也成为了前端的最新趋势，本次演讲将会介绍如何使用serverless帮助开发者快速开发小程序，免去服务器端编码工作，降低开发成本和开发时间，利用一种全新的思维方式解放生产力。
  -
    topicTitle: 前端核心代码保护技术概览
    avatar: /assets/images/zhaoyang.png
    name: 赵洋 
    title: 前百度、腾讯前端开发工程师
    topicContent: 由于Web的开放性，前端的核心代码保护一直是困扰我们的一个大难题，随着浏览器开发工具越来越便利，“前端代码无秘密”仿佛已经成为了一个无法被打破的既定陈规。此次演讲主题我们从主流的前端核心代码保护方案的原理开始讲起，最终引出一种更为安全、现代的基于WebAssembly及VM的核心代码保护方案，希望大家能从中获得启发并使用与改进，最终参与到WebAssembly和前端安全的领域中来，贡献自己的一份力量。
  -
    topicTitle: 服务端渲染框架在喜马拉雅的演变
    avatar: /assets/images/sunyangjie.png
    name: 孙杨杰 
    title: 喜马拉雅前端架构师
    topicContent: 介绍服务端渲染在喜马拉雅的应用以及一个服务端的项目如何部署、发布，整个CI/CD的集成实现。基于服务端渲染场景下的node服务如何进行性能优化，日志监控等
  -
    topicTitle: React：The bad parts
    avatar: /assets/images/houce.png
    name: 侯策（LucasHC）
    title: React 状态管理与同构实战》作者
    topicContent: React 框架因其颠覆性的设计、清新的数据状态管理理念、甚至“性能友好”卖点，一经推出很快风靡业界。我们在历数 React 框架特点，学习其精髓之时，也不妨从 bad parts 入手，分析它有哪些“瑕疵”，这些“瑕疵”有的已经在 React 发展过程中被淘汰或被“纠正”，有的依然存在，甚至就在你的代码当中
  -
    topicTitle: 建设企业级的前端应用体系
    avatar: /assets/images/zhanghao.png
    name: 张浩
    title: 网易资深前端开发工程师
    topicContent: 网易严选包含众多业务线，我们需要支持上百个系统。在业务线众多、需求不断变更的场景下，我们如何高效率、高质量地解决问题并提供优秀的用户体验呢？本次分享将围绕前端规范建设、基础框架建设、工程化建设、未来的规划这四个主题，为大家在如何建设企业级前端技术体系方面提供一些思路和帮助。
  -
    topicTitle: 业务实现标准化在中台领域的探索
    avatar: /assets/images/dongtiancheng.png
    name: 董天成
    title: 百度 - 高级前端工程师
    topicContent: 随着中台业务的不断膨胀，研发效率降低也带来了不少挑战。百度原生广告实践出了基于react技术栈的应用开发框架。通过该框架，每个开发者都将写出一致的代码实现，并拥有配套的测试工具。此次主题将为你介绍百度在中台业务开发所遇到的问题以及框架提供的方法
  -
    topicTitle: 模型驱动开发
    avatar: /assets/images/wangzhicheng.png
    name: 汪志成
    title: ThoughtWorks 高级工程师、Google Developer Expert
    topicContent: 分享一种以模型为中心的思维方式，向你展示如何围绕业务模型和视图模型构建应用。这种思维方式可以帮助你从纷繁复杂的需求中抓住稳定的本质，快速理顺开发思路，更轻松地应用 TDD 开发方式，建立具有良好维护性的系统。本主题还将帮助你打破前后端的界限，看到前后端之间的相通之处，通过提升技能与眼界，让你看到成长为 WLB 全栈工程师的发展路径。
  -
    topicTitle: 企业级H5质量工程体系探索
    avatar: /assets/images/tianhao.png
    name: 田浩（灵杭）
    title: 蚂蚁金服高级前端工程师
    topicContent: 1. 前端质量困境：为什么后端开发可以便捷的进行单元测试和集成测试，但前端却难以推行？2. 思考和破局：如何通过以数据为中心实现前端质量的突破(支付宝商家技术部的实践，含live demo）3. 协作与赋能：如何既保障质量，又提升整体的工程效能。
  -
    topicTitle: React-Hooks：从设计理念到实战经验
    avatar: /assets/images/lizixiang.png
    name: 李子翔
    title: 携程度假研发部前端架构组-高级前端工程师
    topicContent: 本次分享将从 class-component 现有的问题出发，引出 react-hooks 的起源和它如何解决那些问题。通过几组实战案例，演示 react-hooks 带来的代码简洁化、逻辑可复用与提升渲染一致性等优势。从源码实现的角度分析 react-hooks 为什么如此设计，并指出它目前的限制和使用场景。
  -
    topicTitle: RxJS 在 React 中的应用
    avatar: /assets/images/longyinan.png
    name: 龙逸楠
    title: LeetCode 中国 架构师
    topicContent: 介绍 RxJS 、RxJS 与 Redux/Mobx 之间的关系、redux-observable 与 redux-saga 的异同、在 redux-epics-decorator 下使用 RxJS、在 react hooks 中使用 RxJS、使用 rxjs-hooks
  -
    topicTitle: React状态管理最佳实践探索
    avatar: /assets/images/jiafeifei.png
    name: 贾扉扉（花名元贽）
    title: 阿里巴巴前端技术专家
    topicContent: React做为业界主流框架之一专注定位UI，因此应用状态管理就成了一个绕不开的话题，种类繁多的状态管理库应运而生。那么新的Context API 和 React Hooks 又能为状态管理带来什么新思路？今天让我们一起从窥斑知豹，探索一下状态管理的最佳实践。
  -
    topicTitle: 使用 PWA + AMP 构建超快 Web App
    avatar: /assets/images/liyaodong.png
    name: 李耀东
    title: ThoughtWorks 高级前端工程师
    topicContent: 随着浏览器性能的不断升级以及前端技术的发展，前端开发的复杂度也在急剧上升，动辄上兆的 JavaScript 脚本加载使得我们的网站功能更加丰富的同时却也使得浏览器的负载越来越大，加载速度甚至变慢。而 PWA 和 AMP 要解决的问题核心之一便是性能，本次话题将会带领大家领略在此双剑合璧之下 Web App 的性能提升到底如何。
  -
    topicTitle: 《Element 高效中后台开发》
    avatar: /assets/images/zhukun.png
    name: 朱昆
    title: 饿了么前端工程师、开源项目 Day.js 作者、Element 维护者
    topicContent: 企业的发展离不开背后数不尽的中后台的支撑，这些项目功能复杂又相对独立，开发成本高重复性也比较多。本次分享将介绍 Element 是如何在饿了么中后台系统开发中保证质量、提升效率和满足个性化定制需求的。
  -
    topicTitle: 前端多媒体技术的探究
    avatar: /assets/images/yinguohui.png
    name: 银国徽
    title: 字节跳动视频架构前端负责人
    topicContent: 聊聊前端开发从业者在多媒体领域里肩负的使命和机会、从生产的角度分析 HTML5 多媒体接口的普通应用和高级扩展，概述设计的不足和可拓展性、结合字节跳动的实践，谈谈前端技术对多媒体接口能力的拓展、根据我们大量的应用场景实践以及对多媒体算法的实现，提议几项标准增强浏览器端处理多媒体的能力

fe_ticket:
  -
    type: 学生票
    price: 198
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 无发票
      - 售票截止日期：2019.04.10
  -
    type: 个人票
    price: 298
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 无发票
  -
    type: 企业票
    price: 398
    access:
      - 大会参会票
      - 大会纪念品
      - 大会文字及视频资料
      - 有发票
  -
    type: VIP 票
    price: 1298
    access:
      - 大会参会票；前排VIP专座
      - 大会纪念品；前端人专属T恤
      - 大会文字及视频资料
      - 前端人“酒会”
      - 有发票
---

